Repository infinyon/fluvio, changes with the labels that .github/labeler.yml gives for each.
All labels: cargo-builder, CLI:cdk, fluvio, fluvio-auth, fluvio-benchmark, fluvio-channel, fluvio-cli, CLI:misc, fluvio-cluster, fluvio-compression, fluvio-controlplane, fluvio-controlplane-metadata, fluvio-hub, fluvio-package-index, fluvio-protocol, fluvio-protocol-derive, fluvio-run, fluvio-sc, fluvio-service, fluvio-smartengine, fluvio-smartmodule, fluvio-socket, fluvio-spu, fluvio-storage, fluvio-stream-dispatcher, fluvio-stream-model, fluvio-test, fluvio-types, smartmodule-development-kit, fluvio-version-manager, CLI, Smartmodule, Connector, Installation, CI, Release, Dev-docs:, Repo-related

.github/labeler.yml:

# All crates
# Group up where it makes sense
# Labels to help PR reviewers see scope before looking at code
"cargo-builder":
  - "crates/cargo-builder/**"

"CLI:cdk":
  - "crates/cdk"
  - "crates/fluvio-connector-common/**"
  - "crates/fluvio-connector-deployer/**"
  - "crates/fluvio-connector-derive/**"
  - "crates/fluvio-connector-package/**"

"fluvio":
  - "crates/fluvio/**"

"fluvio-auth":
  - "crates/fluvio-auth/**"

"fluvio-benchmark":
  - "crates/fluvio-benchmark/**"

"fluvio-channel":
  - "crates/fluvio-channel/**"
  - "crates/fluvio-channel-cli/**"

"fluvio-cli":
  - "crates/fluvio-cli/**"

"CLI:misc":
  - "crates/fluvio-cli-common/**"
  - "crates/fluvio-extension-common/**"

"fluvio-cluster":
  - "crates/fluvio-cluster/**"

"fluvio-compression":
  - "crates/fluvio-compression/**"

"fluvio-controlplane":
  - "crates/fluvio-controlplane/**"

"fluvio-controlplane-metadata":
  - "crates/fluvio-controlplane-metadata/**"

"fluvio-hub":
  - "crates/fluvio-hub-protocol/**"
  - "crates/fluvio-hub-util/**"

"fluvio-package-index":
  - "crates/fluvio-package-index/**"

"fluvio-protocol":
  - "crates/fluvio-protocol/**"

"fluvio-protocol-derive":
  - "crates/fluvio-protocol-derive/**"

"fluvio-run":
  - "crates/fluvio-run/**"

"fluvio-sc":
  - "crates/fluvio-sc/**"
  - "crates/fluvio-sc-schema/**"

"fluvio-service":
  - "crates/fluvio-service/**"

"fluvio-smartengine":
  - "crates/fluvio-smartengine/**"

"fluvio-smartmodule":
  - "crates/fluvio-smartmodule/**"
  - "crates/fluvio-smartmodule-derive/**"

"fluvio-socket":
  - "crates/fluvio-socket/**"

"fluvio-spu":
  - "crates/fluvio-spu/**"
  - "crates/fluvio-spu-schema/**"

"fluvio-storage":
  - "crates/fluvio-storage/**"

"fluvio-stream-dispatcher":
  - "crates/fluvio-stream-dispatcher/**"

"fluvio-stream-model":
  - "crates/fluvio-stream-model/**"

"fluvio-test":
  - "crates/fluvio-test/**"
  - "crates/fluvio-test-case-derive/**"
  - "crates/fluvio-test-derive/**"
  - "crates/fluvio-test-util/**"

"fluvio-types":
  - "crates/fluvio-types/**"

"smartmodule-development-kit":
  - "crates/smartmodule-development-kit/**"

"fluvio-version-manager":
  - "crates/fluvio-version-manager/**"

# Additional groups

"CLI":
  - "crates/fluvio/**"
  - "crates/fluvio-cli-common/**"
  - "crates/smartmodule-development-kit/**"
  - "crates/fluvio-run/**"
  - "crates/cdk"
  - "crates/fluvio-connector-common/**"
  - "crates/fluvio-connector-deployer/**"
  - "crates/fluvio-connector-derive/**"
  - "crates/fluvio-connector-package/**"
  - "crates/fluvio-version-manager/**"
  - "crates/fluvio-benchmark/**"
  - "crates/fluvio-test/**"
  - "crates/fluvio-test-case-derive/**"
  - "crates/fluvio-test-derive/**"
  - "crates/fluvio-test-util/**"
  - "crates/fluvio-channel/**"
  - "crates/fluvio-channel-cli/**"
  - "crates/fluvio-cluster/src/cli/**"
  - "crates/fluvio-hub-util/src/cmd/**"
  - "crates/fluvio/src/config"
  - "crates/fluvio-extension-common/**"
  - "crates/fluvio-smartengine/src/transformation.rs"
  - "crates/fluvio-controlplane-metadata/src/tableformat/spec.rs"
  
"Smartmodule":
  - "smartmodule/**"
  - "crates/fluvio-smartmodule/**"
  - "crates/fluvio-smartmodule-derive/**"

"Connector":
  - "connectors/**"

"Installation":
  - "install.sh"
  - "crates/fluvio-cli-common/src/install.rs"
  - "crates/fluvio-cli/src/install/**"
  - "crates/fluvio-version-manager/**"

"CI":
  - ".github/**"
  - "bors.toml"
  - "Makefile"
  - "makefiles/**"
  - "deny.toml"
  - "actions/**"
  - "build-scripts/**"
  - "k8-util"
  - "tls"
  - "tests"
  - "action.yaml"

"Release":
  - "VERSION"
  - "CHANGELOG.md"
  - "release-tools/**"
  - "./github/workflows/publish.yml"
  - "./github/workflows/release.yml"
  - "cliff.toml"

"Dev-docs:":
  - "DEVELOPER.md"
  - "README.md"
  - "RELEASE.md"
  - "examples/**"
  - "dev-tools/**"
  - "rust-toolchain.toml"

"Repo-related":
  - "LICENSE"
  - "CODE-OF-CONDUCT.md"
  - "CONTRIBUTING.md"
  - "rustfmt.toml"
  - ".cargo/**"
  - ".github/ISSUE_TEMPLATE"
  - ".github/PULL_REQUEST_TEMPLATE"
  - ".gitignore"

chore: update changelog
  CHANGELOG.md
  VERSION
Labels: Release

fix: remove unreleased line
  CHANGELOG.md
Labels: Release

chore: update changelog and version (#3710)
  CHANGELOG.md
  VERSION
Labels: Release

chore: `0.11.0` post release
  CHANGELOG.md
  VERSION
Labels: Release

chore: `0.11.0` post release (#3711)
  CHANGELOG.md
  VERSION
Labels: Release

feat: use installation type in cli commands
  .github/workflows/cd_dev.yaml
  .github/workflows/ci.yml
  .github/workflows/hourly.yml
  Cargo.lock
  crates/fluvio-cli/Cargo.toml
  crates/fluvio-cli/src/profile/add.rs
  crates/fluvio-cli/src/profile/list.rs
  crates/fluvio-cluster/Cargo.toml
  crates/fluvio-cluster/src/check/mod.rs
  crates/fluvio-cluster/src/cli/delete.rs
  crates/fluvio-cluster/src/cli/diagnostics.rs
  crates/fluvio-cluster/src/cli/shutdown.rs
  crates/fluvio-cluster/src/cli/start/local.rs
  crates/fluvio-cluster/src/cli/start/mod.rs
  crates/fluvio-cluster/src/delete.rs
  crates/fluvio-cluster/src/lib.rs
  crates/fluvio-cluster/src/start/k8.rs
  crates/fluvio-cluster/src/start/local.rs
  crates/fluvio-extension-common/Cargo.toml
  crates/fluvio-extension-common/src/installation.rs
  crates/fluvio-extension-common/src/lib.rs
  crates/fluvio-spu/Makefile
  crates/fluvio-test-util/setup/environment/local.rs
  crates/fluvio/Cargo.toml
  crates/fluvio/src/config/config.rs
  tests/cli/fluvio_read_only/basic.bats
  tls/Makefile
Labels: fluvio, fluvio-cli, CLI:misc, fluvio-cluster, fluvio-spu, fluvio-test, CLI, CI

chore: turn off fvm tosts while fixing packageset
  .github/workflows/ci.yml
Labels: CI

Upgrade to Rust 1.74
  crates/fluvio-hub-util/src/package.rs
  crates/fluvio-version-manager/src/common/version_installer.rs
  rust-toolchain.toml
Labels: fluvio-hub, fluvio-version-manager, CLI, Installation, Dev-docs:

fix: clippy issue https://github.com/infinyon/fluvio/actions/runs/6891930922/job/18748114442\?pr\=3712\#step:9:2098
  crates/fluvio-hub-util/src/package.rs
Labels: fluvio-hub

chore: download artifacts
  .github/workflows/publish-pkgset.yml
Labels: CI

release hotpatch
  .github/workflows/release.yml
  actions/hotpatch.sh
Labels: CI

run hotpatch on release
  .github/workflows/release.yml
Labels: CI

update 1
  .github/workflows/release.yml
  actions/hotpatch.sh
Labels: CI

update 2
  .github/workflows/release.yml
Labels: CI

update 3
  .github/workflows/release.yml
Labels: CI

cargo fmt
  crates/fluvio-protocol-derive/src/ast/container.rs
  crates/fluvio-protocol-derive/src/ast/enum.rs
  crates/fluvio-protocol-derive/src/ast/prop.rs
  crates/fluvio-protocol-derive/src/util.rs
Labels: fluvio-protocol-derive

Updating protocol-derive crate from syn1 to syn2
  crates/fluvio-protocol-derive/Cargo.toml
  crates/fluvio-protocol-derive/src/ast/container.rs
  crates/fluvio-protocol-derive/src/ast/enum.rs
  crates/fluvio-protocol-derive/src/ast/prop.rs
  crates/fluvio-protocol-derive/src/util.rs
Labels: fluvio-protocol-derive

improving code from the suggested points
  Cargo.lock
  crates/fluvio-protocol-derive/src/ast/container.rs
  crates/fluvio-protocol-derive/src/ast/enum.rs
  crates/fluvio-protocol-derive/src/ast/prop.rs
  crates/fluvio-protocol-derive/src/util.rs
  crates/fluvio-spu-schema/src/produce/request.rs
Labels: fluvio-protocol-derive, fluvio-spu

bump versions and remove mut
  Cargo.lock
  crates/fluvio-protocol-derive/Cargo.toml
  crates/fluvio-protocol-derive/src/util.rs
  crates/fluvio-spu-schema/Cargo.toml
Labels: fluvio-protocol-derive, fluvio-spu

cargo clippy fix
  crates/fluvio-protocol-derive/src/ast/container.rs
  crates/fluvio-protocol-derive/src/ast/prop.rs
Labels: fluvio-protocol-derive

fixed variable, should be min_version
  crates/fluvio-protocol-derive/src/ast/prop.rs
Labels: fluvio-protocol-derive

Upgrade to Rust 1.74 (#3713)
  crates/fluvio-version-manager/src/common/version_installer.rs
  rust-toolchain.toml
Labels: fluvio-version-manager, CLI, Installation, Dev-docs:

fix: missing clippy complains
  crates/fluvio-hub-util/src/package.rs
Labels: fluvio-hub

chore: updates Rust 1.74 (#3713) (#3715)
  crates/fluvio-hub-util/src/package.rs
  crates/fluvio-version-manager/src/common/version_installer.rs
  rust-toolchain.toml
Labels: fluvio-hub, fluvio-version-manager, CLI, Installation, Dev-docs:

ci: fvm_basic.bats, smoke test adjustment
  tests/cli/fvm_smoke_tests/fvm_basic.bats
Labels: none

ci: fvm_basic.bats, smoke test adjustment (#3717)
  tests/cli/fvm_smoke_tests/fvm_basic.bats
Labels: none

feat: use installation type in cli commands (#3691)
  .github/workflows/cd_dev.yaml
  .github/workflows/ci.yml
  .github/workflows/hourly.yml
  Cargo.lock
  crates/fluvio-cli/Cargo.toml
  crates/fluvio-cli/src/profile/add.rs
  crates/fluvio-cli/src/profile/list.rs
  crates/fluvio-cluster/Cargo.toml
  crates/fluvio-cluster/src/check/mod.rs
  crates/fluvio-cluster/src/cli/delete.rs
  crates/fluvio-cluster/src/cli/diagnostics.rs
  crates/fluvio-cluster/src/cli/shutdown.rs
  crates/fluvio-cluster/src/cli/start/local.rs
  crates/fluvio-cluster/src/cli/start/mod.rs
  crates/fluvio-cluster/src/delete.rs
  crates/fluvio-cluster/src/lib.rs
  crates/fluvio-cluster/src/start/k8.rs
  crates/fluvio-cluster/src/start/local.rs
  crates/fluvio-extension-common/Cargo.toml
  crates/fluvio-extension-common/src/installation.rs
  crates/fluvio-extension-common/src/lib.rs
  crates/fluvio-spu/Makefile
  crates/fluvio-test-util/setup/environment/local.rs
  crates/fluvio/Cargo.toml
  crates/fluvio/src/config/config.rs
  tests/cli/fluvio_read_only/basic.bats
  tls/Makefile
Labels: fluvio, fluvio-cli, CLI:misc, fluvio-cluster, fluvio-spu, fluvio-test, CLI, CI

Updating fluvio-protocol-derive crate from syn1 to syn2 (#3648)
  Cargo.lock
  crates/fluvio-protocol-derive/Cargo.toml
  crates/fluvio-protocol-derive/src/ast/container.rs
  crates/fluvio-protocol-derive/src/ast/enum.rs
  crates/fluvio-protocol-derive/src/ast/prop.rs
  crates/fluvio-protocol-derive/src/util.rs
  crates/fluvio-spu-schema/Cargo.toml
  crates/fluvio-spu-schema/src/produce/request.rs
Labels: fluvio-protocol-derive, fluvio-spu

fix: parse `ApiError` from Hub and bubble up (#3692)
  crates/fluvio-hub-util/src/fvm/api/client.rs
  tests/cli/fvm_smoke_tests/fvm_basic.bats
Labels: fluvio-hub

Revert "Updating fluvio-protocol-derive crate from syn1 to syn2 (#3648)"
  Cargo.lock
  crates/fluvio-protocol-derive/Cargo.toml
  crates/fluvio-protocol-derive/src/ast/container.rs
  crates/fluvio-protocol-derive/src/ast/enum.rs
  crates/fluvio-protocol-derive/src/ast/prop.rs
  crates/fluvio-protocol-derive/src/util.rs
  crates/fluvio-spu-schema/Cargo.toml
  crates/fluvio-spu-schema/src/produce/request.rs
Labels: fluvio-protocol-derive, fluvio-spu

Revert "Updating fluvio-protocol-derive crate from syn1 to syn2 (#3648)" (#3718)
  Cargo.lock
  crates/fluvio-protocol-derive/Cargo.toml
  crates/fluvio-protocol-derive/src/ast/container.rs
  crates/fluvio-protocol-derive/src/ast/enum.rs
  crates/fluvio-protocol-derive/src/ast/prop.rs
  crates/fluvio-protocol-derive/src/util.rs
  crates/fluvio-spu-schema/Cargo.toml
  crates/fluvio-spu-schema/src/produce/request.rs
Labels: fluvio-protocol-derive, fluvio-spu

chore: switch cli tests to local fluvio cluster
  .github/workflows/ci.yml
  tests/cli/fluvio_smoke_tests/non-concurrent/cluster-delete.bats
  tests/cli/fluvio_smoke_tests/topic-basic.bats
  tests/cli/test_helper/replica.json
Labels: CI

separate job for fvm tests
  .github/workflows/ci.yml
Labels: CI

chore: clone `smdk test` to `fluvio sm test` (#3559)
  Cargo.lock
  crates/fluvio-cli-common/Cargo.toml
  crates/fluvio-cli-common/src/lib.rs
  crates/fluvio-cli-common/src/smartmodule.rs
  crates/fluvio-cli/Cargo.toml
  crates/fluvio-cli/src/client/smartmodule/mod.rs
  crates/fluvio-cli/src/client/smartmodule/test.rs
  crates/smartmodule-development-kit/Cargo.toml
  crates/smartmodule-development-kit/src/test.rs
  tests/cli/fluvio_smoke_tests/smartmodule-basic.bats
Labels: fluvio-cli, CLI:misc, smartmodule-development-kit, CLI

feat: hide `fvm self install`
  crates/fluvio-version-manager/src/command/itself/mod.rs
Labels: fluvio-version-manager, CLI, Installation

feat: add fvm update instructions
  crates/fluvio-version-manager/Cargo.toml
  crates/fluvio-version-manager/src/command/itself/mod.rs
  crates/fluvio-version-manager/src/command/itself/update.rs
Labels: fluvio-version-manager, CLI, Installation

feat: add fvm update instructions
  Cargo.lock
Labels: none

feat: hide `fvm self install` from and help introduce `fvm self update` (#3724)
  Cargo.lock
  crates/fluvio-version-manager/Cargo.toml
  crates/fluvio-version-manager/src/command/itself/mod.rs
  crates/fluvio-version-manager/src/command/itself/update.rs
Labels: fluvio-version-manager, CLI, Installation

chore: switch cli tests to local fluvio cluster (#3720)
  .github/workflows/ci.yml
  tests/cli/fluvio_smoke_tests/non-concurrent/cluster-delete.bats
  tests/cli/fluvio_smoke_tests/topic-basic.bats
  tests/cli/test_helper/replica.json
Labels: CI

chore: remove implicit cluster start from tests
  tests/cli/cdk_smoke_tests/cdk-basic.bats
  tests/cli/cdk_smoke_tests/cdk-multi-partition-consumer.bats
  tests/cli/cli-platform-cross-version.bats
  tests/cli/fluvio_smoke_tests/non-concurrent/cluster-delete.bats
  tests/cli/fvm_smoke_tests/fvm_basic.bats
  tests/cli/smdk_smoke_tests/smdk-basic.bats
  tests/cli/test_helper/tools_check.bash
Labels: none
