Repository infinyon/fluvio, changes with the labels that .github/labeler.yml gives for each.
All labels: cargo-builder, CLI:cdk, fluvio, fluvio-auth, CLI:fbm, CLI:fluvio-channel, CLI:fluvio, CLI:misc, fluvio-cluster, fluvio-compression, fluvio-controlplane, fluvio-controlplane-metadata, fluvio-extension-common, fluvio-hub, fluvio-package-index, fluvio-protocol, fluvio-protocol-derive, CLI:fluvio-run, fluvio-sc, fluvio-service, fluvio-smartengine, fluvio-smartmodule, fluvio-socket, fluvio-spu, fluvio-storage, fluvio-stream-dispatcher, fluvio-stream-model, CLI:fluvio-test, fluvio-types, CLI:smdk, CLI:fvm, Smartmodule, Connectors, Installation, CI, Release, Dev-docs:, Repo-related

.github/labeler.yml:

# All crates
# Group up where it makes sense
# Labels to help PR reviewers see scope before looking at code
"cargo-builder":
  - "crates/cargo-builder/**"

"CLI:cdk":
  - "crates/cdk"
  - "crates/fluvio-connector-common/**"
  - "crates/fluvio-connector-deployer/**"
  - "crates/fluvio-connector-derive/**"
  - "crates/fluvio-connector-package/**"

"fluvio":
  - "crates/fluvio/**"

"fluvio-auth":
  - "crates/fluvio-auth/**"

"CLI:fbm":
  - "crates/fluvio-benchmark/**"

"CLI:fluvio-channel":
  - "crates/fluvio-channel/**"
  - "crates/fluvio-channel-cli/**"

"CLI:fluvio":
  - "crates/fluvio-cli/**"

"CLI:misc":
  - "crates/fluvio-cli-common/**"

"fluvio-cluster":
  - "crates/fluvio-cluster/**"

"fluvio-compression":
  - "crates/fluvio-compression/**"

"fluvio-controlplane":
  - "crates/fluvio-controlplane/**"

"fluvio-controlplane-metadata":
  - "crates/fluvio-controlplane-metadata/**"

"fluvio-extension-common":
  - "crates/fluvio-extension-common/**"

"fluvio-hub":
  - "crates/fluvio-hub-protocol/**"
  - "crates/fluvio-hub-util/**"

"fluvio-package-index":
  - "crates/fluvio-package-index/**"

"fluvio-protocol":
  - "crates/fluvio-protocol/**"

"fluvio-protocol-derive":
  - "crates/fluvio-protocol-derive/**"

"CLI:fluvio-run":
  - "crates/fluvio-run/**"

"fluvio-sc":
  - "crates/fluvio-sc/**"
  - "crates/fluvio-sc-schema/**"

"fluvio-service":
  - "crates/fluvio-service/**"

"fluvio-smartengine":
  - "crates/fluvio-smartengine/**"

"fluvio-smartmodule":
  - "crates/fluvio-smartmodule/**"
  - "crates/fluvio-smartmodule-derive/**"

"fluvio-socket":
  - "crates/fluvio-socket/**"

"fluvio-spu":
  - "crates/fluvio-spu/**"
  - "crates/fluvio-spu-schema/**"

"fluvio-storage":
  - "crates/fluvio-storage/**"

"fluvio-stream-dispatcher":
  - "crates/fluvio-stream-dispatcher/**"

"fluvio-stream-model":
  - "crates/fluvio-stream-model/**"

"CLI:fluvio-test":
  - "crates/fluvio-test/**"
  - "crates/fluvio-test-case-derive/**"
  - "crates/fluvio-test-derive/**"
  - "crates/fluvio-test-util/**"

"fluvio-types":
  - "crates/fluvio-types/**"

"CLI:smdk":
  - "crates/smartmodule-development-kit/**"

"CLI:fvm":
  - "crates/fluvio-version-manager/**"

# Additional groups

"Smartmodule":
  - "smartmodule/**"
  - "crates/fluvio-smartmodule/**"
  - "crates/fluvio-smartmodule-derive/**"

"Connectors":
  - "connectors/**"

"Installation":
  - "install.sh"
  - "crates/fluvio-cli-common/src/install.rs"
  - "crates/fluvio-cli/src/install/**"
  - "crates/fluvio-version-manager/**"

"CI":
  - ".github/**"
  - "bors.toml"
  - "Makefile"
  - "makefiles/**"
  - "deny.toml"
  - "actions/**"
  - "build-scripts/**"
  - "k8-util"
  - "tls"
  - "tests"
  - "action.yaml"

"Release":
  - "VERSION"
  - "CHANGELOG.md"
  - "release-tools/**"
  - "./github/workflows/publish.yml"
  - "./github/workflows/release.yml"
  - "cliff.toml"

"Dev-docs:":
  - "DEVELOPER.md"
  - "README.md"
  - "RELEASE.md"
  - "examples/**"
  - "dev-tools/**"
  - "rust-toolchain.toml"

"Repo-related":
  - "LICENSE"
  - "CODE-OF-CONDUCT.md"
  - "CONTRIBUTING.md"
  - "rustfmt.toml"
  - ".cargo/**"
  - ".github/ISSUE_TEMPLATE"
  - ".github/PULL_REQUEST_TEMPLATE"
  - ".gitignore"

chore: ci fix cd_dev and cd_release (#3687)
  .github/workflows/cd_dev.yaml
  .github/workflows/cd_release.yml
Labels: CI

fix: fvm rename fallback
  crates/fluvio-version-manager/src/command/itself/install.rs
  crates/fluvio-version-manager/src/common/version_installer.rs
Labels: CLI:fvm, Installation

fix: fvm rename fallback (#3689)
  crates/fluvio-version-manager/src/command/itself/install.rs
  crates/fluvio-version-manager/src/common/version_installer.rs
Labels: CLI:fvm, Installation

chore: ci, publish.yml remove branches
  .github/workflows/publish.yml
Labels: CI

fix: parse `ApiError` from Hub and bubble up
  crates/fluvio-hub-util/src/fvm/api/client.rs
  tests/cli/fvm_smoke_tests/fvm_basic.bats
Labels: fluvio-hub

chore: ci, publish.yml remove branches (#3690)
  .github/workflows/publish.yml
Labels: CI

feat: publish PackageSet on Fluvio Publish
  .github/workflows/publish.yml
  actions/publish-pkgset.sh
Labels: CI

feat: use makefile instead
  .github/workflows/publish.yml
  actions/publish-pkgset.sh
  makefiles/release.mk
Labels: CI

fix: bump version along with publish pkgset
  makefiles/release.mk
Labels: CI

Update actions/publish-pkgset.sh
  actions/publish-pkgset.sh
Labels: CI

fix: set static value on very top
  makefiles/release.mk
Labels: CI

feat: publish PackageSet on Fluvio Publish (#3694)
  .github/workflows/publish.yml
  actions/publish-pkgset.sh
  makefiles/release.mk
Labels: CI

fix: skip already published instead of aborting
  makefiles/release.mk
Labels: CI

fix: skip already published instead of aborting (#3695)
  makefiles/release.mk
Labels: CI

fix: map `BPKG_TOKEN` for `bump_fluvio` job
  .github/workflows/publish.yml
Labels: CI

fix: add `BPKG_TOKEN` for stable pkgset publishing
  .github/workflows/release.yml
Labels: CI

fix: map `BPKG_TOKEN` for `bump_fluvio` job (#3698)
  .github/workflows/publish.yml
  .github/workflows/release.yml
Labels: CI

chore: ci fix release.mk, publish-pkgset
  makefiles/release.mk
Labels: CI

chore: ci fix release.mk, publish-pkgset (#3699)
  makefiles/release.mk
Labels: CI

chore: publish-pkgset, print inputs
  actions/publish-pkgset.sh
  makefiles/release.mk
Labels: CI

Add debug to publish script
  actions/publish-pkgset.sh
  makefiles/release.mk
Labels: CI

Copy exact text from other PR
  actions/publish-pkgset.sh
Labels: CI

chore: publish-pkgset, print inputs (#3700)
  actions/publish-pkgset.sh
  makefiles/release.mk
Labels: CI

fix: properly pass owner references in conversions
  crates/fluvio-stream-dispatcher/src/metadata/k8.rs
  crates/fluvio-stream-model/src/store/k8.rs
Labels: fluvio-stream-dispatcher, fluvio-stream-model

chore: release.mk, quotes cause pkgset publish to fail
  makefiles/release.mk
Labels: CI

chore: release.mk, quotes cause pkgset publish to fail (#3703)
  makefiles/release.mk
Labels: CI

chore: ci, fix cd_dev upgrade-test.sh pull intended ver
  tests/upgrade-test.sh
Labels: none

ci: set FLUVIO_IMAGE_TAG_STRATEGY
  tests/upgrade-test.sh
Labels: none

chore: ci, cd_dev, add strategy for verify_latest_rel
  .github/workflows/cd_dev.yaml
Labels: CI

chore: ci, fix cd_dev upgrade-test.sh pull intended ver (#3704)
  .github/workflows/cd_dev.yaml
  tests/upgrade-test.sh
Labels: CI

chore: ci, switch ci->publish->cd_dev to repo_dispatch
  .github/workflows/cd_dev.yaml
  .github/workflows/ci.yml
  .github/workflows/publish.yml
Labels: CI

fixup: cleanup unused paths
  .github/workflows/cd_dev.yaml
Labels: CI

clone: upgrade-test.sh fixup target version
  tests/upgrade-test.sh
Labels: none

chore: ci publish on master push
  .github/workflows/publish.yml
Labels: CI

chore: ci, switch ci->publish->cd_dev to repo_dispatch (#3705)
  .github/workflows/cd_dev.yaml
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  tests/upgrade-test.sh
Labels: CI

chore: ci, fix publish->cd_dev perms for repo_disp
  .github/workflows/ci.yml
  .github/workflows/publish.yml
Labels: CI

chore: ci, fix publish->cd_dev perms for repo_disp (#3706)
  .github/workflows/ci.yml
  .github/workflows/publish.yml
Labels: CI

fix: properly pass owner references in conversions (#3702)
  crates/fluvio-stream-dispatcher/src/metadata/k8.rs
  crates/fluvio-stream-model/src/store/k8.rs
Labels: fluvio-stream-dispatcher, fluvio-stream-model

Use a different config for tests updating the file
  crates/fluvio/src/config/cluster.rs
  crates/fluvio/src/config/config.rs
  crates/fluvio/test-data/profiles/config.toml
  crates/fluvio/test-data/profiles/updatable_config.toml
Labels: fluvio

Use a different config for tests updating the file (#3708)
  crates/fluvio/src/config/cluster.rs
  crates/fluvio/src/config/config.rs
  crates/fluvio/test-data/profiles/config.toml
  crates/fluvio/test-data/profiles/updatable_config.toml
Labels: fluvio
