Repository infinyon/fluvio, changes with the labels that .github/labeler.yml gives for each.
All labels: cargo-builder, CLI:cdk, fluvio, fluvio-auth, fluvio-benchmark, fluvio-channel, fluvio-cli, CLI:misc, fluvio-cluster, fluvio-compression, fluvio-controlplane, fluvio-controlplane-metadata, fluvio-hub, fluvio-package-index, fluvio-protocol, fluvio-protocol-derive, fluvio-run, fluvio-sc, fluvio-service, fluvio-smartengine, fluvio-smartmodule, fluvio-socket, fluvio-spu, fluvio-storage, fluvio-stream-dispatcher, fluvio-stream-model, fluvio-test, fluvio-types, smartmodule-development-kit, fluvio-version-manager, CLI, Smartmodule, Connector, Installation, CI, Release, Dev-docs:, Repo-related

.github/labeler.yml:

# All crates
# Group up where it makes sense
# Labels to help PR reviewers see scope before looking at code
"cargo-builder":
  - "crates/cargo-builder/**"

"CLI:cdk":
  - "crates/cdk"
  - "crates/fluvio-connector-common/**"
  - "crates/fluvio-connector-deployer/**"
  - "crates/fluvio-connector-derive/**"
  - "crates/fluvio-connector-package/**"

"fluvio":
  - "crates/fluvio/**"

"fluvio-auth":
  - "crates/fluvio-auth/**"

"fluvio-benchmark":
  - "crates/fluvio-benchmark/**"

"fluvio-channel":
  - "crates/fluvio-channel/**"
  - "crates/fluvio-channel-cli/**"

"fluvio-cli":
  - "crates/fluvio-cli/**"

"CLI:misc":
  - "crates/fluvio-cli-common/**"
  - "crates/fluvio-extension-common/**"

"fluvio-cluster":
  - "crates/fluvio-cluster/**"

"fluvio-compression":
  - "crates/fluvio-compression/**"

"fluvio-controlplane":
  - "crates/fluvio-controlplane/**"

"fluvio-controlplane-metadata":
  - "crates/fluvio-controlplane-metadata/**"

"fluvio-hub":
  - "crates/fluvio-hub-protocol/**"
  - "crates/fluvio-hub-util/**"

"fluvio-package-index":
  - "crates/fluvio-package-index/**"

"fluvio-protocol":
  - "crates/fluvio-protocol/**"

"fluvio-protocol-derive":
  - "crates/fluvio-protocol-derive/**"

"fluvio-run":
  - "crates/fluvio-run/**"

"fluvio-sc":
  - "crates/fluvio-sc/**"
  - "crates/fluvio-sc-schema/**"

"fluvio-service":
  - "crates/fluvio-service/**"

"fluvio-smartengine":
  - "crates/fluvio-smartengine/**"

"fluvio-smartmodule":
  - "crates/fluvio-smartmodule/**"
  - "crates/fluvio-smartmodule-derive/**"

"fluvio-socket":
  - "crates/fluvio-socket/**"

"fluvio-spu":
  - "crates/fluvio-spu/**"
  - "crates/fluvio-spu-schema/**"

"fluvio-storage":
  - "crates/fluvio-storage/**"

"fluvio-stream-dispatcher":
  - "crates/fluvio-stream-dispatcher/**"

"fluvio-stream-model":
  - "crates/fluvio-stream-model/**"

"fluvio-test":
  - "crates/fluvio-test/**"
  - "crates/fluvio-test-case-derive/**"
  - "crates/fluvio-test-derive/**"
  - "crates/fluvio-test-util/**"

"fluvio-types":
  - "crates/fluvio-types/**"

"smartmodule-development-kit":
  - "crates/smartmodule-development-kit/**"

"fluvio-version-manager":
  - "crates/fluvio-version-manager/**"

# Additional groups

"CLI":
  - "crates/fluvio/**"
  - "crates/fluvio-cli-common/**"
  - "crates/smartmodule-development-kit/**"
  - "crates/fluvio-run/**"
  - "crates/cdk"
  - "crates/fluvio-connector-common/**"
  - "crates/fluvio-connector-deployer/**"
  - "crates/fluvio-connector-derive/**"
  - "crates/fluvio-connector-package/**"
  - "crates/fluvio-version-manager/**"
  - "crates/fluvio-benchmark/**"
  - "crates/fluvio-test/**"
  - "crates/fluvio-test-case-derive/**"
  - "crates/fluvio-test-derive/**"
  - "crates/fluvio-test-util/**"
  - "crates/fluvio-channel/**"
  - "crates/fluvio-channel-cli/**"
  - "crates/fluvio-cluster/src/cli/**"
  - "crates/fluvio-hub-util/src/cmd/**"
  - "crates/fluvio/src/config"
  - "crates/fluvio-extension-common/**"
  - "crates/fluvio-smartengine/src/transformation.rs"
  - "crates/fluvio-controlplane-metadata/src/tableformat/spec.rs"
  
"Smartmodule":
  - "smartmodule/**"
  - "crates/fluvio-smartmodule/**"
  - "crates/fluvio-smartmodule-derive/**"

"Connector":
  - "connectors/**"

"Installation":
  - "install.sh"
  - "crates/fluvio-cli-common/src/install.rs"
  - "crates/fluvio-cli/src/install/**"
  - "crates/fluvio-version-manager/**"

"CI":
  - ".github/**"
  - "bors.toml"
  - "Makefile"
  - "makefiles/**"
  - "deny.toml"
  - "actions/**"
  - "build-scripts/**"
  - "k8-util"
  - "tls"
  - "tests"
  - "action.yaml"

"Release":
  - "VERSION"
  - "CHANGELOG.md"
  - "release-tools/**"
  - "./github/workflows/publish.yml"
  - "./github/workflows/release.yml"
  - "cliff.toml"

"Dev-docs:":
  - "DEVELOPER.md"
  - "README.md"
  - "RELEASE.md"
  - "examples/**"
  - "dev-tools/**"
  - "rust-toolchain.toml"

"Repo-related":
  - "LICENSE"
  - "CODE-OF-CONDUCT.md"
  - "CONTRIBUTING.md"
  - "rustfmt.toml"
  - ".cargo/**"
  - ".github/ISSUE_TEMPLATE"
  - ".github/PULL_REQUEST_TEMPLATE"
  - ".gitignore"

chore: remove k8 install for local clusters on CD
  .github/workflows/cd_dev.yaml
  .github/workflows/cd_dev_mac.yaml
  tests/cli/cli-platform-cross-version.bats
  tests/upgrade-test.sh
Labels: CI

added local cluster to longevity tests
  .github/workflows/hourly.yml
Labels: CI

Restrict `fluvio cluster` commands based on current profile
  crates/fluvio-cluster/src/cli/delete.rs
  crates/fluvio-cluster/src/cli/diagnostics.rs
  crates/fluvio-cluster/src/cli/mod.rs
  crates/fluvio-cluster/src/start/local.rs
  crates/fluvio-extension-common/src/installation.rs
Labels: CLI:misc, fluvio-cluster, CLI

Add tests for installation type inference
  Cargo.lock
  crates/fluvio-cluster/Cargo.toml
  crates/fluvio-cluster/src/cli/mod.rs
Labels: fluvio-cluster, CLI

chore: remove implicit cluster start from tests (#3726)
  tests/cli/cdk_smoke_tests/cdk-basic.bats
  tests/cli/cdk_smoke_tests/cdk-multi-partition-consumer.bats
  tests/cli/cli-platform-cross-version.bats
  tests/cli/fluvio_smoke_tests/non-concurrent/cluster-delete.bats
  tests/cli/fvm_smoke_tests/fvm_basic.bats
  tests/cli/smdk_smoke_tests/smdk-basic.bats
  tests/cli/test_helper/tools_check.bash
Labels: none

chore: update local clusters setup on CD and Hourly (#3727)
  .github/workflows/cd_dev.yaml
  .github/workflows/cd_dev_mac.yaml
  .github/workflows/hourly.yml
  tests/cli/cli-platform-cross-version.bats
  tests/upgrade-test.sh
Labels: CI

feat: support cluster upgrade/check/status for local cluster
  .github/workflows/ci.yml
  crates/fluvio-cluster/src/cli/check.rs
  crates/fluvio-cluster/src/cli/delete.rs
  crates/fluvio-cluster/src/cli/diagnostics.rs
  crates/fluvio-cluster/src/cli/mod.rs
  crates/fluvio-cluster/src/cli/shutdown.rs
  crates/fluvio-cluster/src/cli/start/mod.rs
  crates/fluvio-cluster/src/cli/status.rs
  crates/fluvio-cluster/src/cli/upgrade.rs
  crates/fluvio-cluster/src/start/k8.rs
  crates/fluvio-cluster/src/start/local.rs
Labels: fluvio-cluster, CLI, CI

feat: support cluster upgrade/check/status for local cluster (#3719)
  .github/workflows/ci.yml
  crates/fluvio-cluster/src/cli/check.rs
  crates/fluvio-cluster/src/cli/delete.rs
  crates/fluvio-cluster/src/cli/diagnostics.rs
  crates/fluvio-cluster/src/cli/mod.rs
  crates/fluvio-cluster/src/cli/shutdown.rs
  crates/fluvio-cluster/src/cli/start/mod.rs
  crates/fluvio-cluster/src/cli/status.rs
  crates/fluvio-cluster/src/cli/upgrade.rs
  crates/fluvio-cluster/src/start/k8.rs
  crates/fluvio-cluster/src/start/local.rs
Labels: fluvio-cluster, CLI, CI

chore: explicitly set cluster type in CI/CD
  .github/workflows/cd_release.yml
  .github/workflows/ci.yml
  .github/workflows/ci_mac.yaml
  actions/action-install-fluvio-cluster.sh
  k8-util/cluster/kind.sh
  makefiles/test.mk
  tests/longevity-producer.sh
  tls/Makefile
Labels: CI

fix: use `bail!` for simplicity
  crates/fluvio-version-manager/src/common/version_directory.rs
Labels: fluvio-version-manager, CLI, Installation

feat: do not allow version switching when process are running
  crates/fluvio-version-manager/src/common/version_directory.rs
Labels: fluvio-version-manager, CLI, Installation

chore: tests
  tests/cli/fvm_smoke_tests/fvm_basic.bats
Labels: none

fix: remove `sleep` and `disown`
  tests/cli/fvm_smoke_tests/fvm_basic.bats
Labels: none

fix: stop any running cluster
  tests/cli/fvm_smoke_tests/fvm_basic.bats
Labels: none

try: attempt with local
  tests/cli/fvm_smoke_tests/fvm_basic.bats
Labels: none

chore: explicitly set cluster type in CI/CD (#3732)
  .github/workflows/cd_release.yml
  .github/workflows/ci.yml
  .github/workflows/ci_mac.yaml
  actions/action-install-fluvio-cluster.sh
  k8-util/cluster/kind.sh
  makefiles/test.mk
  tests/longevity-producer.sh
  tls/Makefile
Labels: CI

feat: make local cluster as default in cli
  crates/fluvio-cluster/src/cli/start/local.rs
  crates/fluvio-cluster/src/cli/start/mod.rs
  crates/fluvio-cluster/src/cli/upgrade.rs
Labels: fluvio-cluster, CLI

fixed typo
  crates/fluvio-cluster/src/cli/upgrade.rs
Labels: fluvio-cluster, CLI

feat: make local cluster as default in cli (#3733)
  crates/fluvio-cluster/src/cli/start/local.rs
  crates/fluvio-cluster/src/cli/start/mod.rs
  crates/fluvio-cluster/src/cli/upgrade.rs
Labels: fluvio-cluster, CLI

fix: macos remove binaries before replacing
  crates/fluvio-version-manager/src/common/version_directory.rs
Labels: fluvio-version-manager, CLI, Installation

fix: macos remove binaries before replacing (#3735)
  crates/fluvio-version-manager/src/common/version_directory.rs
Labels: fluvio-version-manager, CLI, Installation

feat: put logs under $FLUVIO_HOME dir
  Cargo.lock
  crates/fluvio-cluster/Cargo.toml
  crates/fluvio-cluster/src/cli/diagnostics.rs
  crates/fluvio-cluster/src/cli/start/local.rs
  crates/fluvio-cluster/src/cli/start/mod.rs
Labels: fluvio-cluster, CLI

chore: update `VERSION` to `v0.11.0-dev-2
  VERSION
Labels: Release

chore: update `VERSION` to `v0.11.0-dev-2 (#3738)
  VERSION
Labels: Release

feat: put logs under $FLUVIO_HOME dir (#3737)
  Cargo.lock
  crates/fluvio-cluster/Cargo.toml
  crates/fluvio-cluster/src/cli/diagnostics.rs
  crates/fluvio-cluster/src/cli/start/local.rs
  crates/fluvio-cluster/src/cli/start/mod.rs
Labels: fluvio-cluster, CLI

chore: update version to from pre-release
  VERSION
Labels: Release

fix: remove nl
  VERSION
Labels: Release

chore: update version to from pre-release (#3740)
  VERSION
Labels: Release
