Repository infinyon/fluvio, changes with the labels that .github/labeler.yml gives for each.
All labels: cargo-builder, CLI:cdk, fluvio, fluvio-auth, fluvio-benchmark, fluvio-channel, fluvio-cli, CLI:misc, fluvio-cluster, fluvio-compression, fluvio-controlplane, fluvio-controlplane-metadata, fluvio-hub, fluvio-package-index, fluvio-protocol, fluvio-protocol-derive, fluvio-run, fluvio-sc, fluvio-service, fluvio-smartengine, fluvio-smartmodule, fluvio-socket, fluvio-spu, fluvio-storage, fluvio-stream-dispatcher, fluvio-stream-model, fluvio-test, fluvio-types, smartmodule-development-kit, fluvio-version-manager, CLI, Smartmodule, Connector, Installation, CI, Release, Dev-docs:, Repo-related

.github/labeler.yml:

# All crates
# Group up where it makes sense
# Labels to help PR reviewers see scope before looking at code
"cargo-builder":
  - "crates/cargo-builder/**"

"CLI:cdk":
  - "crates/cdk"
  - "crates/fluvio-connector-common/**"
  - "crates/fluvio-connector-deployer/**"
  - "crates/fluvio-connector-derive/**"
  - "crates/fluvio-connector-package/**"

"fluvio":
  - "crates/fluvio/**"

"fluvio-auth":
  - "crates/fluvio-auth/**"

"fluvio-benchmark":
  - "crates/fluvio-benchmark/**"

"fluvio-channel":
  - "crates/fluvio-channel/**"
  - "crates/fluvio-channel-cli/**"

"fluvio-cli":
  - "crates/fluvio-cli/**"

"CLI:misc":
  - "crates/fluvio-cli-common/**"
  - "crates/fluvio-extension-common/**"

"fluvio-cluster":
  - "crates/fluvio-cluster/**"

"fluvio-compression":
  - "crates/fluvio-compression/**"

"fluvio-controlplane":
  - "crates/fluvio-controlplane/**"

"fluvio-controlplane-metadata":
  - "crates/fluvio-controlplane-metadata/**"

"fluvio-hub":
  - "crates/fluvio-hub-protocol/**"
  - "crates/fluvio-hub-util/**"

"fluvio-package-index":
  - "crates/fluvio-package-index/**"

"fluvio-protocol":
  - "crates/fluvio-protocol/**"

"fluvio-protocol-derive":
  - "crates/fluvio-protocol-derive/**"

"fluvio-run":
  - "crates/fluvio-run/**"

"fluvio-sc":
  - "crates/fluvio-sc/**"
  - "crates/fluvio-sc-schema/**"

"fluvio-service":
  - "crates/fluvio-service/**"

"fluvio-smartengine":
  - "crates/fluvio-smartengine/**"

"fluvio-smartmodule":
  - "crates/fluvio-smartmodule/**"
  - "crates/fluvio-smartmodule-derive/**"

"fluvio-socket":
  - "crates/fluvio-socket/**"

"fluvio-spu":
  - "crates/fluvio-spu/**"
  - "crates/fluvio-spu-schema/**"

"fluvio-storage":
  - "crates/fluvio-storage/**"

"fluvio-stream-dispatcher":
  - "crates/fluvio-stream-dispatcher/**"

"fluvio-stream-model":
  - "crates/fluvio-stream-model/**"

"fluvio-test":
  - "crates/fluvio-test/**"
  - "crates/fluvio-test-case-derive/**"
  - "crates/fluvio-test-derive/**"
  - "crates/fluvio-test-util/**"

"fluvio-types":
  - "crates/fluvio-types/**"

"smartmodule-development-kit":
  - "crates/smartmodule-development-kit/**"

"fluvio-version-manager":
  - "crates/fluvio-version-manager/**"

# Additional groups

"CLI":
  - "crates/fluvio/**"
  - "crates/fluvio-cli-common/**"
  - "crates/smartmodule-development-kit/**"
  - "crates/fluvio-run/**"
  - "crates/cdk"
  - "crates/fluvio-connector-common/**"
  - "crates/fluvio-connector-deployer/**"
  - "crates/fluvio-connector-derive/**"
  - "crates/fluvio-connector-package/**"
  - "crates/fluvio-version-manager/**"
  - "crates/fluvio-benchmark/**"
  - "crates/fluvio-test/**"
  - "crates/fluvio-test-case-derive/**"
  - "crates/fluvio-test-derive/**"
  - "crates/fluvio-test-util/**"
  - "crates/fluvio-channel/**"
  - "crates/fluvio-channel-cli/**"
  - "crates/fluvio-cluster/src/cli/**"
  - "crates/fluvio-hub-util/src/cmd/**"
  - "crates/fluvio/src/config"
  - "crates/fluvio-extension-common/**"
  - "crates/fluvio-smartengine/src/transformation.rs"
  - "crates/fluvio-controlplane-metadata/src/tableformat/spec.rs"
  
"Smartmodule":
  - "smartmodule/**"
  - "crates/fluvio-smartmodule/**"
  - "crates/fluvio-smartmodule-derive/**"

"Connector":
  - "connectors/**"

"Installation":
  - "install.sh"
  - "crates/fluvio-cli-common/src/install.rs"
  - "crates/fluvio-cli/src/install/**"
  - "crates/fluvio-version-manager/**"

"CI":
  - ".github/**"
  - "bors.toml"
  - "Makefile"
  - "makefiles/**"
  - "deny.toml"
  - "actions/**"
  - "build-scripts/**"
  - "k8-util"
  - "tls"
  - "tests"
  - "action.yaml"

"Release":
  - "VERSION"
  - "CHANGELOG.md"
  - "release-tools/**"
  - "./github/workflows/publish.yml"
  - "./github/workflows/release.yml"
  - "cliff.toml"

"Dev-docs:":
  - "DEVELOPER.md"
  - "README.md"
  - "RELEASE.md"
  - "examples/**"
  - "dev-tools/**"
  - "rust-toolchain.toml"

"Repo-related":
  - "LICENSE"
  - "CODE-OF-CONDUCT.md"
  - "CONTRIBUTING.md"
  - "rustfmt.toml"
  - ".cargo/**"
  - ".github/ISSUE_TEMPLATE"
  - ".github/PULL_REQUEST_TEMPLATE"
  - ".gitignore"

Add support for cluster annotations
  Cargo.lock
  crates/fluvio/Cargo.toml
  crates/fluvio/src/config/cluster.rs
  crates/fluvio/src/config/config.rs
  crates/fluvio/test-data/profiles/config.toml
Labels: fluvio, CLI

Add cluster metadata path methods
  crates/fluvio/src/config/cluster.rs
  crates/fluvio/src/config/config.rs
  crates/fluvio/test-data/profiles/config.toml
Labels: fluvio, CLI

Add metadata to cluster
  Cargo.lock
  crates/fluvio/Cargo.toml
  crates/fluvio/src/config/cluster.rs
  crates/fluvio/src/config/config.rs
  crates/fluvio/test-data/profiles/config.toml
Labels: fluvio, CLI

Bump crate version
  Cargo.lock
  crates/fluvio/Cargo.toml
Labels: fluvio, CLI

feat: add support for custom metadata in cluster configuration (#3667)
  Cargo.lock
  crates/fluvio/Cargo.toml
  crates/fluvio/src/config/cluster.rs
  crates/fluvio/src/config/config.rs
  crates/fluvio/test-data/profiles/config.toml
Labels: fluvio, CLI

Simplify metadata implementation
  crates/fluvio/Cargo.toml
  crates/fluvio/src/config/cluster.rs
  crates/fluvio/src/config/config.rs
  crates/fluvio/test-data/profiles/config.toml
Labels: fluvio, CLI

Fix clippy warnings in tests
  crates/fluvio/src/config/cluster.rs
Labels: fluvio, CLI

Fix clippy warnings in tests (#3677)
  crates/fluvio/src/config/cluster.rs
Labels: fluvio, CLI

feat: update hub util fvm client to new endpoint structure
  crates/fluvio-hub-util/src/fvm/api/client.rs
Labels: fluvio-hub

feat: update fvm to use new hub-client api
  crates/fluvio-version-manager/src/command/install.rs
  crates/fluvio-version-manager/src/command/update.rs
Labels: fluvio-version-manager, CLI, Installation

fix: formatting and clippy issues
  crates/fluvio-version-manager/src/command/install.rs
  crates/fluvio-version-manager/src/command/update.rs
Labels: fluvio-version-manager, CLI, Installation

feat: fallback version
  crates/fluvio-hub-util/src/fvm/api/client.rs
  crates/fluvio-hub-util/src/fvm/mod.rs
  tests/cli/fvm_smoke_tests/fvm_basic.bats
Labels: fluvio-hub

chore: enable fvm tests
  .github/workflows/ci.yml
Labels: CI

fix: clippy issues
  crates/fluvio-hub-util/src/fvm/mod.rs
Labels: fluvio-hub

feat: update fvm to use new hub endpoints on fetch (#3679)
  .github/workflows/ci.yml
  crates/fluvio-hub-util/src/fvm/api/client.rs
  crates/fluvio-hub-util/src/fvm/mod.rs
  crates/fluvio-version-manager/src/command/install.rs
  crates/fluvio-version-manager/src/command/update.rs
  tests/cli/fvm_smoke_tests/fvm_basic.bats
Labels: fluvio-hub, fluvio-version-manager, CLI, Installation, CI

Make smartmodule-test common an optional feature
  crates/fluvio-cli-common/Cargo.toml
  crates/fluvio-cli-common/src/lib.rs
  crates/fluvio-cli/Cargo.toml
  crates/smartmodule-development-kit/Cargo.toml
  tests/cli/fluvio_smoke_tests/smartmodule-basic.bats
Labels: fluvio-cli, CLI:misc, smartmodule-development-kit, CLI

Hide test command in arm target architectures
  Cargo.lock
  crates/fluvio-cli-common/Cargo.toml
  crates/fluvio-cli/Cargo.toml
  crates/fluvio-cli/src/client/smartmodule/mod.rs
Labels: fluvio-cli, CLI:misc, CLI

Clone `smdk test` to `fluvio sm test`
  Cargo.lock
  crates/fluvio-cli-common/Cargo.toml
  crates/fluvio-cli-common/src/lib.rs
  crates/fluvio-cli-common/src/smartmodule.rs
  crates/fluvio-cli/src/client/smartmodule/mod.rs
  crates/fluvio-cli/src/client/smartmodule/test.rs
  crates/smartmodule-development-kit/Cargo.toml
  crates/smartmodule-development-kit/src/test.rs
Labels: fluvio-cli, CLI:misc, smartmodule-development-kit, CLI

chore: use individual cli test retries
  .github/workflows/ci.yml
  tests/cli/test_helper/tools_check.bash
Labels: CI

chore: use individual cli test retries (#3676)
  .github/workflows/ci.yml
  tests/cli/test_helper/tools_check.bash
Labels: CI

feat: use installation type in cli commands
  .github/workflows/cd_dev.yaml
  .github/workflows/ci.yml
  .github/workflows/hourly.yml
  crates/fluvio-cli/src/profile/add.rs
  crates/fluvio-cli/src/profile/list.rs
  crates/fluvio-cluster/src/check/mod.rs
  crates/fluvio-cluster/src/cli/delete.rs
  crates/fluvio-cluster/src/cli/diagnostics.rs
  crates/fluvio-cluster/src/cli/shutdown.rs
  crates/fluvio-cluster/src/cli/start/local.rs
  crates/fluvio-cluster/src/cli/start/mod.rs
  crates/fluvio-cluster/src/delete.rs
  crates/fluvio-cluster/src/lib.rs
  crates/fluvio-cluster/src/start/k8.rs
  crates/fluvio-cluster/src/start/local.rs
  crates/fluvio-spu/Makefile
  crates/fluvio-test-util/setup/environment/local.rs
  crates/fluvio/src/config/config.rs
  tests/cli/fluvio_read_only/basic.bats
  tls/Makefile
Labels: fluvio, fluvio-cli, fluvio-cluster, fluvio-spu, fluvio-test, CLI, CI

feat: use installation type in cli commands (#3675)
  .github/workflows/cd_dev.yaml
  .github/workflows/ci.yml
  .github/workflows/hourly.yml
  crates/fluvio-cli/src/profile/add.rs
  crates/fluvio-cli/src/profile/list.rs
  crates/fluvio-cluster/src/check/mod.rs
  crates/fluvio-cluster/src/cli/delete.rs
  crates/fluvio-cluster/src/cli/diagnostics.rs
  crates/fluvio-cluster/src/cli/shutdown.rs
  crates/fluvio-cluster/src/cli/start/local.rs
  crates/fluvio-cluster/src/cli/start/mod.rs
  crates/fluvio-cluster/src/delete.rs
  crates/fluvio-cluster/src/lib.rs
  crates/fluvio-cluster/src/start/k8.rs
  crates/fluvio-cluster/src/start/local.rs
  crates/fluvio-spu/Makefile
  crates/fluvio-test-util/setup/environment/local.rs
  crates/fluvio/src/config/config.rs
  tests/cli/fluvio_read_only/basic.bats
  tls/Makefile
Labels: fluvio, fluvio-cli, fluvio-cluster, fluvio-spu, fluvio-test, CLI, CI

add feature guards to support minimal cli version
  Cargo.lock
  crates/fluvio-cli/Cargo.toml
  crates/fluvio-cli/src/profile/add.rs
  crates/fluvio-cli/src/profile/list.rs
Labels: fluvio-cli

Revert "feat: use installation type in cli commands (#3675)"
  .github/workflows/cd_dev.yaml
  .github/workflows/ci.yml
  .github/workflows/hourly.yml
  crates/fluvio-cli/src/profile/add.rs
  crates/fluvio-cli/src/profile/list.rs
  crates/fluvio-cluster/src/check/mod.rs
  crates/fluvio-cluster/src/cli/delete.rs
  crates/fluvio-cluster/src/cli/diagnostics.rs
  crates/fluvio-cluster/src/cli/shutdown.rs
  crates/fluvio-cluster/src/cli/start/local.rs
  crates/fluvio-cluster/src/cli/start/mod.rs
  crates/fluvio-cluster/src/delete.rs
  crates/fluvio-cluster/src/lib.rs
  crates/fluvio-cluster/src/start/k8.rs
  crates/fluvio-cluster/src/start/local.rs
  crates/fluvio-spu/Makefile
  crates/fluvio-test-util/setup/environment/local.rs
  crates/fluvio/src/config/config.rs
  tests/cli/fluvio_read_only/basic.bats
  tls/Makefile
Labels: fluvio, fluvio-cli, fluvio-cluster, fluvio-spu, fluvio-test, CLI, CI

Revert "feat: use installation type in cli commands (#3675)" (#3682)
  .github/workflows/cd_dev.yaml
  .github/workflows/ci.yml
  .github/workflows/hourly.yml
  crates/fluvio-cli/src/profile/add.rs
  crates/fluvio-cli/src/profile/list.rs
  crates/fluvio-cluster/src/check/mod.rs
  crates/fluvio-cluster/src/cli/delete.rs
  crates/fluvio-cluster/src/cli/diagnostics.rs
  crates/fluvio-cluster/src/cli/shutdown.rs
  crates/fluvio-cluster/src/cli/start/local.rs
  crates/fluvio-cluster/src/cli/start/mod.rs
  crates/fluvio-cluster/src/delete.rs
  crates/fluvio-cluster/src/lib.rs
  crates/fluvio-cluster/src/start/k8.rs
  crates/fluvio-cluster/src/start/local.rs
  crates/fluvio-spu/Makefile
  crates/fluvio-test-util/setup/environment/local.rs
  crates/fluvio/src/config/config.rs
  tests/cli/fluvio_read_only/basic.bats
  tls/Makefile
Labels: fluvio, fluvio-cli, fluvio-cluster, fluvio-spu, fluvio-test, CLI, CI

feat: use `fvm list` over `fvm show` for listing installed versions
  crates/fluvio-version-manager/src/command/list.rs
  crates/fluvio-version-manager/src/command/mod.rs
  crates/fluvio-version-manager/src/main.rs
  tests/cli/fvm_smoke_tests/fvm_basic.bats
Labels: fluvio-version-manager, CLI, Installation

feat: render version tag for channels when switching
  crates/fluvio-version-manager/src/command/switch.rs
Labels: fluvio-version-manager, CLI, Installation

fix: reference to `fvm show` on `fvm switch`
  crates/fluvio-version-manager/src/command/switch.rs
Labels: fluvio-version-manager, CLI, Installation

chore: ci, patch up workflow sequencing
  .github/workflows/ci.yml
  .github/workflows/publish.yml
Labels: CI

chore: ci, patch up workflow sequencing (#3684)
  .github/workflows/ci.yml
  .github/workflows/publish.yml
Labels: CI

feat: fvm user interface improvements (#3683)
  crates/fluvio-version-manager/src/command/list.rs
  crates/fluvio-version-manager/src/command/mod.rs
  crates/fluvio-version-manager/src/command/switch.rs
  crates/fluvio-version-manager/src/main.rs
  tests/cli/fvm_smoke_tests/fvm_basic.bats
Labels: fluvio-version-manager, CLI, Installation

Use abs path to binaries in k8_cluster_test
  .github/workflows/ci.yml
Labels: CI

Fixing some output parsing in upgrade test
  tests/upgrade-test.sh
Labels: none

Missing end parenthesis...
  tests/upgrade-test.sh
Labels: none

Use raw paths fow now
  tests/upgrade-test.sh
Labels: none

Some setup fixes to fvm cli smoke
  .github/workflows/ci.yml
Labels: CI

Modify path in jobs
  .github/workflows/ci.yml
Labels: CI

Add retries and abs path
  .github/workflows/ci.yml
Labels: CI

ci: Misc fixes to failing tests in CI (#3685)
  .github/workflows/ci.yml
  tests/upgrade-test.sh
Labels: CI

chore: ci fix cd_dev and cd_release
  .github/workflows/cd_dev.yaml
  .github/workflows/cd_release.yml
Labels: CI
