Repository infinyon/fluvio, pull requests merged in 2024-04, with the labels that each got.

#3924 perfor: switch to high perform allocator
  Cargo.lock
  Cargo.toml
  crates/fluvio-cli/Cargo.toml
  crates/fluvio-cli/src/bin/main.rs
  crates/fluvio-sc/Cargo.toml
  crates/fluvio-sc/src/bin/main.rs
  crates/fluvio-spu/Cargo.toml
  crates/fluvio-spu/src/main.rs
Labels: Performance

#3928 feat: added offset management to consumer api(unstable)
  crates/fluvio-protocol/src/link/error_code.rs
  crates/fluvio-spu-schema/src/server/fetch_offset.rs
  crates/fluvio-spu-schema/src/server/stream_fetch.rs
  crates/fluvio/src/consumer/config.rs
  crates/fluvio/src/consumer/mod.rs
  crates/fluvio/src/consumer/offset.rs
  crates/fluvio/src/consumer/stream.rs
  crates/fluvio/src/fluvio.rs
  crates/fluvio/src/offset.rs
Labels: consumer

#3930 feat: added hidden topics and partitions
  Cargo.lock
  Cargo.toml
  crates/fluvio-cli/src/client/partition/list.rs
  crates/fluvio-cli/src/client/topic/list.rs
  crates/fluvio-controlplane-metadata/Cargo.toml
  crates/fluvio-controlplane-metadata/src/partition/spec.rs
  crates/fluvio-controlplane-metadata/src/topic/spec.rs
  crates/fluvio-sc-schema/Cargo.toml
  crates/fluvio-sc-schema/src/objects/list.rs
  crates/fluvio-sc-schema/src/objects/mod.rs
  crates/fluvio-sc/src/services/public_api/list.rs
  crates/fluvio-sc/src/services/public_api/partition/mod.rs
  crates/fluvio-sc/src/services/public_api/topic/fetch.rs
  crates/fluvio/src/admin.rs
  crates/fluvio/src/consumer/mod.rs
  k8-util/helm/fluvio-sys/templates/crd_partition.yaml
  k8-util/helm/fluvio-sys/templates/crd_topic.yaml
Labels: CLI, metadata

#3935 feat: added auto-creation of offsets topic
  crates/fluvio-sc/src/controllers/topics/controller.rs
  crates/fluvio-sc/src/init.rs
Labels: consumer

#3941 feat: added consumer offset to cli
  Cargo.lock
  crates/fluvio-cli/Cargo.toml
  crates/fluvio-cli/src/client/consume/mod.rs
  crates/fluvio-cli/src/client/consumer/delete.rs
  crates/fluvio-cli/src/client/consumer/list.rs
  crates/fluvio-cli/src/client/consumer/mod.rs
  crates/fluvio-cli/src/client/mod.rs
  crates/fluvio-controlplane/src/lib.rs
  crates/fluvio-kv-storage/src/lib.rs
  crates/fluvio-kv-storage/src/log.rs
  crates/fluvio-sc/src/controllers/topics/controller.rs
  crates/fluvio-spu-schema/src/server/consumer_offset.rs
  crates/fluvio-spu/src/kv/consumer.rs
  crates/fluvio-spu/src/services/internal/fetch_consumer_offset_handler.rs
  crates/fluvio-spu/src/services/internal/update_consumer_offset_handler.rs
  crates/fluvio-spu/src/services/public/consumer_handler.rs
  crates/fluvio-spu/src/services/public/offset_request.rs
  crates/fluvio-types/src/defaults.rs
  crates/fluvio/src/consumer/mod.rs
  crates/fluvio/src/consumer/offset.rs
  crates/fluvio/src/fluvio.rs
Labels: consumer

#3942 feat: disallow deletion system topic unless forced
  crates/fluvio-cli/src/client/topic/delete.rs
  crates/fluvio-protocol/src/link/error_code.rs
  crates/fluvio-sc-schema/src/objects/delete.rs
  crates/fluvio-sc/src/services/public_api/delete.rs
  crates/fluvio-sc/src/services/public_api/topic/delete.rs
  crates/fluvio/src/admin.rs
  tests/cli/fluvio_smoke_tests/system-topic-basic.bats
Labels: CLI

#3945 feat: mark consumers offset feature as stable
  .github/workflows/ci.yml
  Cargo.lock
  crates/fluvio-cli/Cargo.toml
  crates/fluvio-cli/src/client/consume/mod.rs
  crates/fluvio-cli/src/client/mod.rs
  crates/fluvio-protocol/src/link/error_code.rs
  crates/fluvio-test/src/tests/consumer_offsets/mod.rs
  crates/fluvio-test/src/tests/mod.rs
  crates/fluvio/src/consumer/config.rs
  crates/fluvio/src/fluvio.rs
  makefiles/test.mk
  tests/cli/fluvio_smoke_tests/consumer-offset.bats
  tests/cli/fluvio_smoke_tests/e2e-basic.bats
Labels: CLI, Client, API, consumer

#3948 feat: support subset of partitions in consumer ext
  crates/fluvio-cli/src/client/consume/mod.rs
  crates/fluvio-test/src/tests/consumer_offsets/mod.rs
  crates/fluvio/src/consumer/config.rs
  crates/fluvio/src/fluvio.rs
  tests/cli/fluvio_smoke_tests/e2e-basic.bats
Labels: CLI, consumer

#3947 feat: set old consumer API deprecated
  crates/fluvio-benchmark/src/consumer_worker.rs
  crates/fluvio-connector-common/src/consumer.rs
  crates/fluvio-test-util/test_runner/test_driver/mod.rs
  crates/fluvio-test/src/tests/batching/mod.rs
  crates/fluvio-test/src/tests/concurrent/consumer.rs
  crates/fluvio-test/src/tests/consumer.rs
  crates/fluvio-test/src/tests/data_generator/mod.rs
  crates/fluvio-test/src/tests/data_generator/producer.rs
  crates/fluvio-test/src/tests/election/mod.rs
  crates/fluvio-test/src/tests/longevity/consumer.rs
  crates/fluvio-test/src/tests/multiple_partitions/consumer.rs
  crates/fluvio-test/src/tests/reconnection/mod.rs
  crates/fluvio-test/src/tests/smoke/consume.rs
  crates/fluvio/src/consumer/config.rs
  crates/fluvio/src/consumer/mod.rs
  crates/fluvio/src/fluvio.rs
  crates/fluvio/src/lib.rs
  examples/02-consume/src/main.rs
  examples/03-echo/src/main.rs
Labels: Client, API, consumer

#3950 feat: added consumer offset to connector config
  crates/fluvio-connector-common/src/consumer.rs
  crates/fluvio-connector-package/src/config/mod.rs
  crates/fluvio-connector-package/test-data/connectors/full-config-v2.yaml
  tests/cli/cdk_smoke_tests/cdk-multi-partition-consumer.bats
Labels: consumer, features/connector

#3957 feat: use `ConsumerStream` trait in connectors
  Cargo.lock
  connector/sink-test-connector/sample-config-v2.yaml
  connector/sink-test-connector/sample-config.yaml
  connector/sink-test-connector/src/main.rs
  crates/fluvio-connector-common/src/consumer.rs
  crates/fluvio/Cargo.toml
  crates/fluvio/src/consumer/stream.rs
  tests/cli/cdk_smoke_tests/cdk-multi-partition-consumer.bats
Labels: features/connector

#3969 feat(cli): graceful period for stream interruption
  Cargo.lock
  crates/fluvio-cli/Cargo.toml
  crates/fluvio-cli/src/client/consume/mod.rs
Labels: CLI, consumer
